language: python
python:
  - "2.7"
sudo: required

notifications:
  email: false

virtualenv:
    system_site_packages: true

# command to install dependencies
install: 
  - export PATH=$HOME/.local/bin:$PATH
  - pip install -r ./requirements.txt

# command to run tests
script: ./vodostanje